<div class="container" fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center">
  <div fxFlex="90%" fxFlexFill class="center-in-line">
    <mat-card>
      <button mat-raised-button routerLink="/home" color="primary">Home</button>
    </mat-card>
    <mat-card >
      <button mat-raised-button  routerLink="/supplies" color="primary">Supplies</button>
    </mat-card>
    <mat-card>
      <button mat-raised-button  routerLink="/donors" color="primary">Donors</button>
    </mat-card>
  </div>
</div>
